<%-include("partials/header")-%>
<h1 class="col-lg-8 col-lg-offset-2 mx-auto"><%=home%></h1>
<p class="col-lg-8 col-lg-offset-2 mx-auto"><%=homeStartingContent%></p>
<p class="col-lg-8 col-lg-offset-2 mx-auto">You can also add link to the job in the description</p>

<%posts.forEach((post)=>{%>
    <h1 class="col-lg-8 col-lg-offset-2 mx-auto"><%=post.title%></h1>
    <p class="col-lg-8 col-lg-offset-2 mx-auto"><%=post.content.substring(0,100)+"..."%> <a href="/posts/<%=post.title%>">Readmore</a></p>
<%})%>

<%-include("partials/footer")-%>
